node_modules/**/*
flask/insurance/bin/*
flask/insurance/lib/*
flask/lib/*
flask/simple_flask/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.pyc
web-build/
web-report/

# macOS
.DS_Store

Firebaseconfig.js
node_modules
flask/.vscode/settings.json
